In [122]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select

class Crawler():
    
    def __init__(self, driverpath = "driver\chromedriver.exe"):
        self.driverpath =  driverpath
    
    def open_browser(self):
        self.driver = webdriver.Chrome(self.driverpath)
    
    def insert_query(self, institution):
        """
        institution: aceita texto ou o CNPJ, sem pontos e traços
        """
        self.driver.get('https://cvmweb.cvm.gov.br/SWB//Sistemas/SCW/CPublica/CConsolFdo/FormBuscaParticFdo.aspx')
        self.driver.find_element_by_id("txtCNPJNome").send_keys(institution)
        ##insert CAPTCHA SOLVER
        self.driver.find_element_by_id("btnContinuar").click() 
    
    def get_all_funds(self):
        """
        return all names
        """
        _ = self.driver.find_element_by_id('ddlFundos').find_elements_by_tag_name('tr')
        c0 = []
        c1 = []
        c2 = []
        
        for i in _:
            c0.append([j.text for j in i.find_elements_by_tag_name('td')][0])
            c1.append([j.text for j in i.find_elements_by_tag_name('td')][1])
            c2.append([j.text for j in i.find_elements_by_tag_name('td')][2])

        return {"CNPJ":c0,"NOME":c1,"TIPO":c2}
    
    def get_dropdown(self):
        drop_down_list = [i.strip() for i in self.driver.find_element_by_name("ddComptc").text.split('\n')]
        return drop_down_list[:-1]
    
    def get_data(self, drop_down_list):
        
        drop_down_list = [i.strip() for i in self.driver.find_element_by_name("ddComptc").text.split('\n')]
        col0, col1, col2, col3,col4,col5,col6, col7, col8  = ([] for i in range(9))

        for k in range(len(drop_down_list)-1):
            Select(self.driver.find_element_by_id('ddComptc')).select_by_value(drop_down_list[k])
            for i in self.driver.find_element_by_id('dgDocDiario').find_elements_by_tag_name('tr')[1:]:
                a,b,c,d,e,f,g,h = [j.text for j in i.find_elements_by_tag_name('td')]

                col0.append(a)
                col1.append(b)
                col2.append(c)
                col3.append(d)
                col4.append(e)
                col5.append(f)
                col6.append(g)
                col7.append(h)
                col8.append(drop_down_list[k])
        
        return {'Dia':col0, 'Quota':col1, 'Captação_no_Dia':col2 
                ,'Resgate_no_Dia':col3,'Patrimônio_Líquido':col4,'Total da Carteira':col5,
                'N°_Total_de_Cotistas':col6,'Data_da_próxima_informação_do_PL':col7
                ,'Data':[i+'/'+j for i,j in zip(col0,col8)]}
        
    def quit(self):
        self.driver.quit()

In [123]:
crawl = Crawler()

In [124]:
crawl.open_browser()

In [125]:
crawl.insert_query('next')

In [129]:
drop_down_list = crawl.get_dropdown()

In [130]:
resposta = crawl.get_data(drop_down_list)

In [132]:
import pandas as pd

pd.DataFrame(data = resposta)

,Dia,Quota,Captação_no_Dia,Resgate_no_Dia,Patrimônio_Líquido,Total da Carteira,N°_Total_de_Cotistas,Data_da_próxima_informação_do_PL,Data
0,01,,,,,,,,01/03/2020
1,02,"1,0902515","27.777,00","8.673,34","11.842.698,22","11.837.800,41",846,03/03/2020,02/03/2020
2,03,"1,0909018","13.366,50","22.572,28","11.840.556,79","11.839.269,37",844,04/03/2020,03/03/2020
3,04,"1,0911207","12.848,17","5.290,40","11.850.490,15","11.835.531,86",846,05/03/2020,04/03/2020
4,05,"1,089788","25.787,41","3.160,62","11.858.642,47","11.860.967,11",871,06/03/2020,05/03/2020
...,...,...,...,...,...,...,...,...,...
726,26,,,,,,,,26/04/2018
727,27,,,,,,,,27/04/2018
728,28,,,,,,,,28/04/2018
729,29,,,,,,,,29/04/2018
730,30,"1,00","10.000.000,00","0,00","10.000.000,00","9.998.000,00",1,02/05/2018,30/04/2018

In [52]:
crawl.quit()